//@font-face {
//  font-family: NAB Impact;
//  font-weight: 700;
//  src: url(clientlib-generated-vendors/resources/fonts/nab-impact.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/nab-impact.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/nab-impact.ttf) format("ttf")
//}
//
//@font-face {
//  font-family: NAB Digital Script;
//  font-weight: 700;
//  src: url(clientlib-generated-vendors/resources/fonts/nab-digital-script.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/nab-digital-script.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/nab-digital-script.otf) format("opentype")
//}

@font-face {
  font-family: source-sans-pro;
  src: url(@/assets/fonts/source-sans-pro-regular.woff2) format("woff2");
  font-style: normal;
  font-display: optional;
  font-weight: 400
}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-black.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-black.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-black.otf) format("opentype");
//  font-style: normal;
//  font-weight: 900
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-bold.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-bold.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-bold.otf) format("opentype");
//  font-style: normal;
//  font-weight: 700
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-bold-italic.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-bold-italic.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-bold-italic.otf) format("opentype");
//  font-style: italic;
//  font-weight: 700
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-italic.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-italic.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-italic.otf) format("opentype");
//  font-style: italic;
//  font-weight: 400
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-light.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-light.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-light.otf) format("opentype");
//  font-style: normal;
//  font-weight: 300
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-light-italic.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-light-italic.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-light-italic.otf) format("opentype");
//  font-style: italic;
//  font-weight: 300
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-semibold.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-semibold.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-semibold.otf) format("opentype");
//  font-style: normal;
//  font-weight: 600
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-semibold-italic.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-semibold-italic.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-semibold-italic.otf) format("opentype");
//  font-style: italic;
//  font-weight: 600
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-black-italic.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-black-italic.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-black-italic.otf) format("opentype");
//  font-style: italic;
//  font-weight: 900
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-extra-light.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-extra-light.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-extra-light.otf) format("opentype");
//  font-style: normal;
//  font-weight: 200
//}
//
//@font-face {
//  font-family: source-sans-pro;
//  src: url(clientlib-generated-vendors/resources/fonts/source-sans-pro-extra-light-italic.woff2) format("woff2"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-extra-light-italic.woff) format("woff"),url(clientlib-generated-vendors/resources/fonts/source-sans-pro-extra-light-italic.otf) format("opentype");
//  font-style: italic;
//  font-weight: 200
//}